@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@431&display=swap');

@font-face {
    font-family: Redonda;
    src: url(../font/Durobang.otf) format('truetype');
}

@font-face {
    font-family: Logo;
    src: url(../font/Retimoa.otf) format('truetype');
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(20, 20, 32);
}

nav {
    background-color: rgb(17, 17, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

nav li {
    list-style: none;
    text-decoration: none;
    font-family: 'Logo';
}

.Logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.LogoImg {
    height: 90px;
    width: auto;
}

.Links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Flex {
    min-height: calc(70vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginB {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: rgba(39, 39, 63, 0.76);
    border: rgb(86, 86, 121) 1px solid;
    width: 350px;
    height: 330px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.LoginB a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 10px;
}

.LoginB a:hover {
    color: #979797;
}

.LoginB h2,label {
    font-family: 'Oswald', sans-serif;
}

.Login {
    display: flex;
    flex-direction: column;
    /* Coloca o Label em cima e o Input embaixo */
    width: 80%;
    margin-bottom: 15px;
    /* Dá um espaço entre o campo de Usuário e o de Senha */
}

.Login label {
    margin-bottom: 5px;
}

.Login input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(17, 17, 29);
    color: white;
}

.Criar {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

button {
    background-color: rgb(79, 79, 128);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(59, 59, 83);
}