@font-face {
    font-family: Redonda;
    src: url(../font/Durobang.otf) format('truetype');
}

@font-face {
    font-family: Logo;
    src: url(../font/Retimoa.otf) format('truetype');
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(20, 20, 32);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: rgb(17, 17, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

nav li {
    list-style: none;
    text-decoration: none;
    font-family: 'Logo';
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Redonda';
}

.Logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.LogoImg {
    height: 90px;
    width: auto;
}

.Links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.painel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: white;
}

.titulo {
    display: flex;
    color: white;
    justify-content: center;
}

.Linhainfo,
.Linhadados {
    padding: 0px 30px 0px 30px;
    align-items: center;
    border-bottom: 1px solid rgb(50, 50, 70);
    display: grid;
    grid-template-columns: 50px 150px 1fr 120px 100px;
    align-items: center;
    border-top: 1px solid rgb(50, 50, 70);
    color: white;
    font-weight: bold;

}

.info {
    padding: 15px 0px;
    text-align: center;
}

.Linhadados {
    background-color: rgb(28, 28, 45);
    border-bottom: 1px solid rgb(50, 50, 70);
    color: white;
}

.Linhadados:hover {
    background-color: rgb(35, 35, 58);
    transition: 0.2s;
}

/* --- ESTILOS VISUAIS EXTRAS --- */
.status {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.aberto {
    background-color: #ff4d4d;
    color: black;
}

.andamento {
    background-color: #ffcc00;
    color: black;
}

.fechado {
    background-color: #36f860;
    color: black;
}

.btn-editar,
.btn-excluir {
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    margin-right: 5px;
}

.btn-editar {
    background-color: #4da6ff;
}

.btn-excluir {
    background-color: #ff4d4d;
}

.btn-editar:hover {
    background-color: #3678b9;
}

.btn-excluir:hover {
    background-color: #b43636;
}

footer {
    background-color: rgb(17, 17, 29);
    color: white;
    text-align: center;
    width: 100%;
}